body {
  margin: 0;
}

header {
  background-color: rgb(35, 34, 34);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 80px;
  margin-right: 40px;
}

ul.navbar-items {
  list-style: none;
  margin-right: 50px;
}

.logo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
}

.logo a {
  color: white;
  text-decoration: none;
}

.navbar-items {
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-items a {
  color: white;
  text-decoration: white;
}

.hamburger {
  display: none;
}

#headline {
  width: 100%;
  height: auto;
  background-color: #1c1a19;
  background-image: url("./img/hero.png");
  background-position: right;
  background-size: 600px;
  background-repeat: no-repeat;
}

.flex-container {
  display: inline-flex;
  gap: 80px;
  height: 720px;
  justify-content: center;
  align-items: center;
}

.intro {
  color: #f55800;
  font-weight: 800;
  font-size: 50px;
  width: 300px;
  margin-bottom: 0;
}

.contact-items ul {
  margin-bottom: 10px;
  margin-right: -20px;
}

.prof {
  color: white;
}

.desc {
  color: #f4f5f7;
  width: 400px;
  line-height: 1.5rem;
}

@media only screen and (max-width: 375px) {
  #headline {
    width: 100%;
    height: auto;
    background-color: #1c1a19;
    background-image: url("./img/hero.png");
    background-position: right bottom;
    background-size: 200px;
    background-repeat: no-repeat;
  }

  .flex-container {
    display: flex;
    flex-direction: column-reverse;
    height: 720px;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .intro {
    color: #f55800;
    font-weight: 800;
    font-size: 45px;
    width: 280px;
    margin-bottom: 0;
  }

  .contact-items {
    display: flex;
    position: relative;
    bottom: 100px;
    right: 80px;
  }

  .contact-items ul {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-right: 80px;
  }

  .prof {
    color: white;
    font-size: 25px;
  }

  .desc {
    color: #f4f5f7;
    width: 300px;
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  #navbar {
    background-color: black;
  }

  .container {
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
    justify-content: flex-end;
  }

  .navbar-items {
    display: none;
  }

  .hamburger i {
    color: white;
  }

  #headline {
    width: 100%;
    height: auto;
    background-color: #1c1a19;
    background-image: url("./img/hero.png");
    background-position: right bottom;
    background-size: 250px;
    background-repeat: no-repeat;
  }
}
